<h1>Exercise 5</h1>

<h3>Re-using views!</h3>

<section id="list">

</section>



<script type="text/javascript">
  var app = app || {};
  app.data = [
    {id: 1, thing: "I need to do laundry", date: "8/19/2015"},
    {id: 2, thing: "I need to wash my car", date: "8/19/2015"},
    {id: 3, thing: "I need to do the dishes", date: "8/19/2015"},
    {id: 4, thing: "I need to swiffer the floors", date: "8/19/2015"},
    {id: 5, thing: "I need to go grocery shopping", date: "8/19/2015"}
  ];
  app.todoItemView = Backbone.View.extend({
    initialize: function() {
      //this.render();
    },
    render: function(dataObject) {
      this.template = _.template($('#list-template').html());
      var compiledTemplate = this.template(dataObject);
      this.$el.append(compiledTemplate);
    }
  });

$(document).ready(function(){
  var todoItem = new app.todoItemView({
    el: $('#list')
  })
  for (var x in app.data) {
    todoItem.render(app.data[x]);
  }

});

</script>

<script type="text/template" id="list-template">
  <li>
    #<%%= id %>:
    <em><%%= thing %></em>
    <strong>Due By:</strong> <%%= date %>
  </li>
</script>
