<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbone Boilerplate</title>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script type="text/javascript"> src="/scripts/app.js"</script>
    <link rel="stylesheet" href="/styles/main.css">

  </head>
  <body>
    <header>
      <h1>Backbone Boilerplate</h1>
    </header>
    <%= yield %>
    <footer><p>This is a Boilerplate for Backbone!</p></footer>
  </body>
</html>
