<h1>Exercise 1</h1>


<h3>How to break ERB</h3>

<p>
  Solution: Eascape underscore variables with double percent symbols. Example <code><%%= variable %></code>. This way, Ruby doesn't expect a Ruby variable... and Underscore + Ruby can coexist. 
</p>

<script type="text/javascript">
  $(document).ready(function(){

});
</script>

<script type="text/javascript" id="tpl">

a very large <%%= animal %> is sitting on my <%%= verb %> aunt.

</script>
